<div class="container__small-card">
    <div class="container__small-card-content">

        <div class="small-card__photo">
            <img src="https://media.licdn.com/dms/image/D4D22AQH2Yt7Eqb8Hkw/feedshare-shrink_800/0/1702945718875?e=2147483647&v=beta&t=WsviAZZkZ84ZDhxOPzqLz5eyNmEi299LfGEFAIhZczc"
                alt="" height="250px" w idth="428px">
        </div>

        <div class="small-card__title">
            <h1><a href="#">Avisos sobre outras versões lançadas do Angular</a></h1>
        </div>
    </div>
    <div class="container__small-card__separator">
        <hr />
    </div>

</div>